:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  --white:rgb(255, 255, 255);
  --background-color: #121212;
  --textcolorlight: rgb(255, 255, 255);
  --textcolordark: #00008b;
  --primarybgcolor: #000000;
  --themecolor: #2b20f4;
  --linkcolor: #c53eff;
  --linkhlcolor: #2b20f4;
  --bordercolor: #c53eff;
  --errorcolor: rgb(197, 77, 131);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--linkcolor);
  text-decoration: inherit;
}
a:hover {
  color: var(--linkhlcolor);
}

body {
  margin: 0;
  padding:0;
  min-width: 320px;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
  padding:10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--linkcolor);;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:  var(--white);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
