:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  --white:rgb(255, 255, 255);
  --background-color: #121212;
  --background-colorlight: #421249;
  --textcolorlight: rgb(255, 255, 255);
  --textcolordark: #00008b;
  --primarybgcolor: #000000;
  --themecolor: #2b20f4;
  --linkcolor: #c53eff;
  --linkhlcolor: #2b20f4;
  --bordercolor: #7b27a0;
  --errorcolor: #ec3d4e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--linkcolor);
  text-decoration: inherit;
}
a:hover {
  color: var(--linkhlcolor);
}

body {
  margin: 0;
  padding:0;
  min-width: 320px;
  background-color: var(--background-color);
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
  padding:10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--linkcolor);;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:var(--textcolorlight);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:  var(--white);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/*Change header and contacts lists to display vertically when screen width is less than 768px wide*/
@media screen and (max-width: 768px) {
  nav{
    float: right;
  }
  nav ul {
      display: block;
      flex-direction: column;
      justify-content: left;
      margin: 10px;
      padding-left:0px;
    }
    .nav-item{
      margin:10px;
    }

    .nav-item .nav-link{
      border-bottom: none;
    }

    .nav-item .nav-link.active{
      border: 2px solid var(--bordercolor);
      padding: 10px;
      color:var(--textcolorlight); ;
    }

  .project{
      width: 100%;
  }

  .project-name {
    font-size: 4vw;
  }
  .project-type {
    font-size: 2.4vw;
  }

  form{
    width:100%;
  }
}

@media screen and (max-width: 480px) {
  nav{
    float: left;
  }

}